@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.nav-bar {
  display: flex;
  background-color: #232f3e;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.nav-bar ul {
  display: flex;
  padding: 20px;
  list-style-type: none;
  color: white;
}

.nav-bar li {
  margin-right: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.location {
  display: flex;
  position: relative;
  height: 2%;
  left: 62%;
  padding-top: 7px;
  cursor: pointer;
}
.user {
  display: flex;
  position: relative;
  left: 65%;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 18px;
}

.user .reg {
  margin-right: 2px;
  font-size: 25px;
}

.loc {
  margin-right: 6px;
  height: auto;
  font-size: 20px;
  color: white;
}

ul .loc {
  margin-right: 20px;
}

.location p {
  color: white;
}
